/* 헤더스타일 */
#header{position:relative; width:100%; height:140px;}
/*#header:after{content: '';display: block;clear: both;height: 0;visibility: hidden;}*/


/*상단*/
#header .header-top {display: block; height:40px; padding: 10px 0; border-bottom: 1px solid #ebebeb;}
#header .header-top .header-top-inner {width:1440px; height:100%; margin:0 auto;}
#header .header-top .header-top-inner .userMenu {display:flex; align-items:center; justify-content:flex-end;}
#header .header-top .header-top-inner .userMenu li {position:relative; padding:0 12px;}
#header .header-top .header-top-inner .userMenu li:not(:last-child):after {content:""; display:block; width:1px; height:0.875rem; border-right:1px solid #ddd; position:absolute; top:50%; transform:translateY(-50%); right:0;}
#header .header-top .header-top-inner .userMenu li a {display:block; width:100%;}
#header .header-top .header-top-inner .userMenu li a:hover {color:var(--theme); transition: all 0.2s ease-in-out;}
#header .logo {width:220px; z-index:2; position:absolute; top:50%; transform:translateY(-50%);}
#header .logo a {display:flex; align-items:center; width:100%;}

/* 메뉴영역 */
#header .gnbWrap {position:relative;}
#gnb {position:relative; width:1440px; height:100px; margin:0 auto; z-index:3;}
#gnb > ul {display:flex; align-items:center; justify-content:flex-end;}
#gnb > ul > li {position:relative; padding:0 40px;}
#gnb > ul > li > a {display:flex; align-items:center; width:100%; height:100%; position:relative; color:var(--black); font-size:1.125rem; font-weight:600; line-height:100px; letter-spacing:-.05em; z-index:2;}
#gnb > ul > li > a:after {content:"";position:absolute; bottom:-1px; left:50%; width:0; height:3px; background:transparent; transition: all 0.2s ease-in-out;}
#gnb > ul > li.active > a,
#gnb > ul > li.current > a {color:var(--theme);}
#gnb > ul > li.active > a:after,
#gnb > ul > li.current > a:after {left:0; width:100%; background:var(--theme);}

/* 서브메뉴 */
#gnb .submenu {display:none; position:absolute; top:100px; left:0; width:100%; height:350px; border-right:1px solid #ebebeb; transition: all 0.2s ease-in-out; box-sizing:border-box; z-index:100;}
#gnb .submenu ul {padding:12px 0 0 0;}
#gnb .submenu ul li a {display:block; padding:8px 2px; color:var(--gray); text-align:center; line-height:23px; text-decoration:none;}
#gnb .submenu ul li a:hover {color:var(--theme);}
#gnb > ul > li:first-child .submenu {border-left:1px solid #ebebeb;}

#gnb > ul > li.active > .submenu,
#gnb > ul > li.current > .submenu {background:#f8f9f9;}

/* pc 서브메뉴 내려옴 bg */
.submenu-bg {display:none; position:absolute; top:140px; left:0; width:100%; background:#fff; border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; z-index:2;}



/* 모바일 메뉴 버튼 관련 */
.mo-menuWrap {display:none;}
.moMenu-btn {position:absolute;top:50%; transform:translateY(-50%); right:10px;z-index:90; display:none;}
.moMenu-btn .all-menu-mo {width:48px;height:48px; background:var(--theme); border-radius:50px;}
.moMenu-btn .all-menu-mo a {height:100%; display:flex; align-items:center; justify-content:center;}
.moMenu-btn .all-menu-mo a > span {font-size:2.5rem; color:#fff;}



@media (max-width:1600px) {
	#header .header-top .header-top-inner, #gnb {width:95%;}
}

@media (max-width:1400px) {
	#gnb .submenu ul li a {font-size:0.875rem;}
}

@media (max-width:1024px) {
	
	#header {height:auto;}
	#gnb {height:80px;}

	/*desktop용 메뉴 숨김*/
	#gnb > ul {display:none;}

	
	/*1024이하 노출되는 모바일 메뉴*/
	.mo-menuWrap {display:block; position: fixed; top: 0; right: -100%; z-index: 9998; width: 80%; height: 100%; transition: right .3s ease-in-out; background: #fff; overflow: auto;}
	.mo-menuWrap.on {right: 0;}
	.moMenu-btn {display:block;}


	/* 모바일 메뉴 오픈 시 검은 막 */
	#dimmed {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index:9997; overflow-y:hidden;}
		
	.mo-menuWrap .mo-menuTop {display:flex; align-items:center; justify-content:flex-end; width:100%; height:60px; padding:0 15px; background:transparent;}
	.mo-menuWrap .mo-menuTop .mo-menuClose {display:none;}
	.mo-menuWrap .mo-menuTop .mo-menuClose i {font-size:2rem; cursor:pointer;}

	#moMenu .moGnb {margin-top:12px;}
	#moMenu .moGnb > li {padding:0 20px;}
	#moMenu .moGnb li a {display:flex; align-items:center; justify-content:space-between; width:100%; cursor:pointer;}

	#moMenu .moGnb-list {display:inline-block; width:100%; padding:15px 0; font-size:1.25rem; color:var(--black); border-bottom:1px dotted #d7d7d7;}
	#moMenu .mo-submenu {display:none; margin-top:10px; background:#f1f1f1 !important;}
	#moMenu .mo-submenu li {color:var(--black);}
	#moMenu .mo-submenu li a {display:inline-block; width:100%; padding:10px; font-size:1.125rem;}
	#moMenu .moGnb .menu-arr i {font-size:1.375rem;}
}

@media (max-width: 580px){
	#header .logo {width:180px;}
	#header .logo img {max-width:100%;}
}