/*list board > list page */
.boardContainer .noData {
	padding:40px 0;
	font-size:0.9rem;
}

.noticePin {
	font-size:1.125rem !important;
	vertical-align:middle;'
}

.postEdit__ {
	display: flex;
    align-items: center;
    justify-content: center;
}

.postEdit__ a{
	margin:2px;
	display:inline-block;
	width:28px;
	height:28px;
	line-height:29px;
	border-radius:50px;
}


.btn-success {
  color: #fff;
  background-color: #1cc88a;
  border-color: #1cc88a;
}

.btn-success:hover {
  color: #fff;
  background-color: #17a673;
  border-color: #169b6b;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #17a673;
  border-color: #169b6b;
  box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}


.btn-danger {
  color: #fff;
  background-color: #e74a3b;
  border-color: #e74a3b;
}

.btn-danger:hover {
  color: #fff;
  background-color: #e02d1b;
  border-color: #d52a1a;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #e02d1b;
  border-color: #d52a1a;
  box-shadow: 0 0 0 0.2rem rgba(235, 101, 88, 0.5);
}

/*
.postEdit__ a > i:hover {
	color:#222;
}
*/

/*board write */
.board-tblst {border-top:1px solid #a1a1a1;}
.board-tblst input[type="text"] {width:100%; height:35px; line-height:35px; border:1px solid #ddd; outline:none; padding:0 12px; box-sizing:border-box;}
.board-tblst input[type="password"] {height:35px; line-height:35px; border:1px solid #ddd; outline:none; padding:0 12px; box-sizing:border-box;}
.board-tblst textarea.basicTextarea {width:100%; height:150px; border:1px solid #ddd; outline:none; resize:none; padding:12px; box-sizing:border-box;}
.board-tblst .tblst-row {display:flex; border-bottom:1px solid #ddd;}
.board-tblst .tblst-row .tblst-row-inner {width:50%; display:flex;}
.board-tblst .tblst-row .tbl-col {padding:10px; box-sizing:border-box; font-size:15px;}
.board-tblst .tblst-row .tbl-col.colTh {width:180px; background:#f5f5f5; display:flex; align-items:center; font-weight:600; color:#333;}
.board-tblst .tblst-row .tbl-col.colTd {width:calc(100% - 180px);}

.board-tblst .tblst-ment {margin-top:12px;}


/*게시판 Admin 전체선택삭제버튼*/
.ad_sBtn {display:inline-block; padding:4px 10px; font-size:0.75rem; border-radius:4px;}
.ad_sBtn.bt1 {background:#aaa; border:1px solid #aaa; color:#fff; box-sizing:border-box;}
.ad_sBtn.bt1:hover {background:#9b9b9b; border:1px solid #9b9b9b; color:#fff; transition:.2s;}
.ad_sBtn.bt2 {background:#fff; border:1px solid #878787; box-sizing:border-box;}
.ad_sBtn.bt2:hover {background:#f1f1f1; transition:.2s;}




/*검색창*/
.board-input-wrap {
	display:flex; 
	align-items:center; 
	justify-content:flex-end; 
	margin-bottom:40px;
}

.board-input-box {
	display:flex;
	align-items:center;
	justify-content:flex-end;
	gap:12px;
	width:100%;
}

.board-input-box .board-line-input {
	width:260px;
	height:40px;
	line-height:40px;
	padding:0 12px;
	box-sizing:border-box;
	border:none;
	border-radius:0;
	outline:none;
	font-family: "Pretendard Variable", Pretendard, 'Noto Sans KR', AppleGothic, sans-serif;
	font-size: 15px;
	border-bottom:1px solid #e1e1e1;
}

.board-input-box .board-line-input::placeholder {
	font-family: "Pretendard Variable", Pretendard, 'Noto Sans KR', AppleGothic, sans-serif;
	color:#878787;
	line-height:1.5;
}

.board-input-box a > i {
	font-size:1.25rem;
}

.board-input-box .boardSelect {
	outline:none; 
	border:none; 
	border-bottom:1px solid #e1e1e1;
	font-family: "Pretendard Variable", Pretendard, 'Noto Sans KR', AppleGothic, sans-serif;
	font-size:15px;
	height:40px;
	background:#fff;
	border-radius:0;
	color:#222;
}

/*첨부파일*/
.fileUpload-box {
	display:flex;
	align-items:center;
	gap:12px;
}

.fileUpload-box .file-input {
	display:flex;
	align-items:center;
	gap:6px;
}

.fileUpload-box .file-input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:250px;
    height:35px;
    line-height:35px;
    padding:0 4px;
	box-sizing:border-box;
	font-size:0.75rem;
    border:1px solid rgba(0, 0, 0, 0.30);
}

.fileUpload-box .file-input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
	z-index:-1;
}

.fileUpload-box .file-input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:80px;
    height:35px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:35px;
	/*border-radius:5px;*/
	font-weight:500;
	font-size:15px;
	 margin-bottom:0;
}

/*첨부파일삭제*/
.enable_btn {
	display:flex;
	align-items:center;
	gap:5px;
}

/*뷰페이지 첨부파일 다운로드*/
.boardDown-btn {
	position:absolute; 
	top:50%; 
	transform:translateY(-50%); 
	right:16px; 
	display:flex;
	align-items:center;
	justify-content:center;
	background:#333 ;
	color:#fff;
	padding:6px 8px;
	border-radius:2px;
	font-size:15px;
	gap:4px;
}

.boardDown-btn i {
	font-size:1rem;
}


/*게시판 글등록,수정,삭제,목록 버튼*/
.boardView-btn-wrap {display:flex; align-items:center; justify-content:flex-end; margin-top:20px;}
.board-btn {display:inline-block; padding:8px; font-size:15px; color:#fff; border-radius:2px; vertical-align:middle; min-width:74px; text-align:center;}
.board-btn.small {padding:4px 12px; min-width:auto;}
.board-btn .dp_f {display:flex; align-items:center; gap:6px;}
.board-btn.blk {background:#333; color:#fff;}
.board-btn.blk:hover {background:#222; transition:.2s;}

.board-btn.gry {background:#878787;}
.board-btn.gry:hover {background:#777; transition:.2s; color:#fff;}
.board-btn.grn {background:#4caf50;}
.board-btn.grn:hover {background:#3d8c40; transition:.2s; color:#fff;}
.board-btn.red {background:#d32f2f;}
.board-btn.red:hover {background:#a92626; transition:.2s; color:#fff;}
.board-btn.blue {background:#1e5be3}
.board-btn.blue:hover {background:#1a4dbf; transition:.2s; color:#fff;}
.board-btn.yel {background:#ffc000;}
.board-btn.yel:hover {background:#cc9a00; transition:.2s; color:#fff;}

.board-btn.wht {background:#fff; border:1px solid #878787; color:#333; box-sizing:border-box;}
.board-btn.wht:hover {background:#f5f5f5; transition:.2s;}


/*정리필요*/
.tbl-st {
	border-top:1px solid #ddd;
}

.tbl-st.btNone {
	border-top:none;
}

.tbl-st-row {
	display:table; 
	width:100%; 
	min-height:50px; 
	border-bottom:1px solid rgba(0, 0, 0, 0.20);
}
.tbl-st-row .tbl-st-col {
	display:table-cell; 
	vertical-align:middle; 
	padding:8px 16px; 
	box-sizing:border-box;
}

/*
.tbl-st-row .col-1 {
	width:240px; 
	font-size:1rem;
	font-weight:600;
	color:#222; 
	background:#E8E8E8;
	padding:6px 16px;
	box-sizing:border-box; 
}
*/


.board-selectBox {
	width: 250px;
	padding: .6rem .5rem;
	border: 1px solid #ddd;
	box-sizing:border-box;
	font-family: inherit;
	font-size:15px;
	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:none;
}

@media (max-width: 1023px) { 
.board-input-box .board-line-input,
.board-input-box .boardSelect {
font-size: 14px;
}
.board-btn {
font-size: 14px;
}
}



@media (max-width:768px){
	.board-input-box { gap: 0; }
	.board-input-box .board-line-input { width: 60%; }
	.board-tblst .tblst-row {flex-direction:column;}
	.board-tblst .tblst-row .tbl-col.colTh, .board-tblst .tblst-row .tbl-col.colTd {width:100%; font-size: 14px; }

	.board-tblst .tblst-row .tblst-row-inner {width:100%; flex-direction:column;}
}

@media (max-width:640px){
	/*.board-tblst .tblst-row .tbl-col.colTh {width:80px;}
	.board-tblst .tblst-row .tbl-col.colTd {width:calc(100% - 80px);}*/
	.fileUpload-box .file-input input[type=text] {width:80%;}
}