.h_center {margin: 0 auto; width:95%; height: 90px;}
    .h_center .logo a {display:flex; align-items:center; justify-content:center; width:100%; height:100%;}

    .h_center .gnb {height: 100%;}
    .h_center .gnb > li {position: relative; height: 100%;}
    .h_center .gnb > li > a {height: 100%; padding: 0 30px; font-size:1.250rem; transition: all .3s; font-weight:600;}
    .h_center .gnb > li.on > a {color: var(--theme);}
    .h_center .gnb > li .depth2 {display: none; position: absolute; top: 90px; left: 50%; transform: translateX(-50%); min-width: 200px; padding: 12px 20px; background: #fff; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); z-index: 30;}
    .h_center .gnb > li .depth2 li a {display: block; width: 100%; padding: 15px 0; font-size:1rem; text-align:center; color:var(--light-gray); transition: all .3s;}
    .h_center .gnb > li .depth2 li a:hover {color: var(--theme);}
    .h_center .gnb > li .depth2 li:hover a {color: var(--theme);}
    .h_center .gnb > li > a, 
    .h_center .gnb > li .depth2 li a {font-family: "Roboto", "Pretendard Variable", Pretendard, sans-serif;}

    /* 1024이하 노출되는 모바일 메뉴*/
    .h_center .btnMNav, .m-navWrap {display: none;}



    @media (max-width: 1024px) {
      .h_center .logo a {width:100px;} /*로고 스타일에 따라 크기 지정하기~*/

      /*desktop용 메뉴 숨김*/
      .h_center .gnb {display:none;}

      /*1024이하 노출되는 모바일 메뉴*/
      .h_center .btnMNav {display:block; width: 30px; height: 30px; }
      .h_center .btnMNav .menu-btn { width: 30px; height: 30px;cursor:pointer;}
      .h_center .btnMNav .menu-btn .material-symbols-outlined { display: block; font-size: 30px !important; width: 30px; height: 30px; color: #222; }

      .m-navWrap {display:block; position:fixed; right:0; top:0; width:0; overflow:hidden; height: 100%; z-index:99;}
      .m-navWrap .bBg {display:none; background-color: rgba(0,0,0,0.3); width: 100%; height: 100%; position:absolute; z-index: 99; }

      .m-navWrap .m-navbox {position: absolute;  right: -100%; top:0; width: 80%; height: 100vh; overflow-y:scroll; background:#fff; z-index: 999; transition:all .5s;}
      .m-navWrap .m-navbox.on {right: 0;}

      .m-navWrap .m-navbox .mn-top {position: relative; height: 90px;}
      .m-navWrap .m-navbox .mn-top .closeBtn {position: absolute; top: 50%; transform:translateY(-50%); right: 20px; width: 30px; height: 30px;}
      .m-navWrap .m-navbox .mn-top .closeBtn a {display: block; width: 100%; height: 100%;}
      .m-navWrap .m-navbox .mn-top .closeBtn a > .material-symbols-outlined { display: block; font-size: 30px !important; width: 30px; height: 30px; color: #222; }

      .m-navWrap .m-navbox .m-nav {margin-top:40px;}
      .m-navWrap .m-navbox .m-nav > li > a {position:relative; display: block; padding:4% 8%; color:var(--black);  font-size:1.5rem; font-weight: 500;}
      .m-navWrap .m-navbox .m-nav > li .material-symbols-outlined {display: none; position: absolute; top:50%; transform:translateY(-50%); right: 24px; font-size: 2rem; color: var(--black); cursor:pointer;}
      .m-navWrap .m-navbox .m-nav > li .down {display: block;}
      .m-navWrap .m-navbox .m-nav > li.on .down {display: none;}
      .m-navWrap .m-navbox .m-nav > li.on .up {display: block;}

      .m-navWrap .m-navbox .m-nav .m-depth2 {display: none; padding: 0 0 0 24px;}
      .m-navWrap .m-navbox .m-nav .m-depth2 > li {padding:0 20px;}
      .m-navWrap .m-navbox .m-nav .m-depth2 > li a {position:relative;}
      .m-navWrap .m-navbox .m-nav .m-depth2 > li a:before {content:""; display:block; width:4px; height:1px; background:#878787; position:absolute; top:50%; left:0;}
      .m-navWrap .m-navbox .m-nav .m-depth2 > li > a {display: block; font-size:1.125rem; padding:12px; color:var(--light-gray);}

      .m-navWrap .m-navbox .m-nav > li > a,
      .m-navWrap .m-navbox .m-nav .m-depth2 > li > a {font-family: "Roboto", "Pretendard Variable", Pretendard, sans-serif;}
    }